.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 38px;
  min-height: 38px;
}

@media (max-height: 480px) and (orientation: landscape) {
  .mat-toolbar.mat-primary {
    display: none;
  }
}
