@use 'breakpoints' as bp;

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: bp.$nav-height;
  min-height: bp.$nav-height;
}

@include bp.mobile-landscape {
  .mat-toolbar.mat-primary {
    display: none;
  }
}
